.log-main {
  text-align: center;
  display: flex;
  justify-content: center;
  background-image: url(../../about/aboutImage/welcome-bg.png);
}
.log-submain {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 23rem;
  padding-top: 30px;
  border-radius: 10px;
  object-fit: contain;
  padding: 32px 32px 24px 2px;
}

.log-img {
  object-fit: contain;
  margin-bottom: 30px;
}
.logo {
  height: 80px;
  width: 250px;
  align-self: center;
  object-fit: contain;
}
.login {
  margin-left: 20px;
  padding-bottom: 20px;
}
.log-title {
  display: flex;
  margin-bottom: 14px;
  color: #212529;
  font-size: 16px Inter, serif;
  font-weight: 500;
}
.input-password {
  display: flex;
  /* border: 1px solid lightgrey; */
}
.log-placeholder {
  height: 25px;
  border: 1px solid lightgrey;
  padding: 0.375rem 0.75rem;
  box-shadow: none;
  font-size: 1rem;
  outline-color: rgb(93, 182, 255);
  outline-width: thin;
}
.phone-place {
  width: 93%;
  border-radius: 4px;
}
.password-place {
  width: 100%;
}
::-webkit-input-placeholder {
  color: gray;
}
.toggle-icon {
  border: 1px solid lightgrey;
  padding: 2px 9px;
  display: flex;
  align-items: center;
}
.togglecolor {
  color: rgb(81, 144, 226);
}
.text-sm {
  font-size: 12px;
}
.forgot-paswd {
  float: right;
  margin-top: 2px;
  color: #558eff;
  font-size: 14px;
  font-weight: 500;
}
.log-remme-fgtpwd {
  display: flex;
  margin-left: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-signin {
  padding: 0px 0px 0px 25px;
}
.signin-button {
  width: 100%;
  height: 35px;
  background-color: rgb(81, 144, 226);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-register {
  margin-top: 20px;
  font-weight: strong;
  font-size: 15px Inter, serif;
}
.backToHome {
  padding: 9px 21px;
  color: grey;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  margin-left: 4px;
  margin-top: 15px;
  background-color: white;
}
.backToHome:hover {
  background-color: rgb(230, 223, 223);
}
.password-toogle-icon {
  background-color: black;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}
