.confirm-container {
  margin: 30px 60px;
}
.real-step {
  width: 100%;
  display: flex;
  justify-content: center;
}
.real-step-wrapper {
  width: 85%;
}
.steps-content {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.step-wrapper {
  width: 45%;
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  border-radius: 10px;
}
.confim-button {
  width: 40% !important;
  float: right;
}
.title-compayent {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}
.step-title {
  /* background: #fafafa; */
  width: 100%;
  text-align: center;
  padding: 15px 25px;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #3d538c;
}
.payment-confirmation-button {
  display: flex;
  justify-content: center;
}

.last-step {
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.input.ant-input.ant-input-lg.confirm-username:focus {
  font-weight: 500 !important;
}
