.dropdown-menu {
  list-style: none;
  width: 300px;
  position: absolute;
  top: 70px;
  transition: all 0.5s ease;
  text-align: start;
  padding: 3px;
  z-index: 99;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 6px #000;
  padding: 10px 10px;
}
.parent-dropdown {
  position: absolute;
  box-shadow: 0 0 6px #000;
  border-radius: 4px;
  padding: 10px 0;
  width: 700px;
  top: 75px;
  z-index: 99;
  left: -60px;
}
.dropdown-menu li {
  /* background: whitesmoke; */
  list-style: none;
  cursor: pointer;
}

.dropdown-menu li:hover {
  border-radius: 3px;
  background: #798ec6;
  color: white !important;
}

.dropdown-menu.clicked {
  list-style: none;
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #616161;
  padding: 16px;
}
.dropdown-link:hover {
  color: white;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
